.App,
.auth-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-light);
  min-height: 100vh;
}

h1,
h2 {
  text-align: center;
  color: var(--purple-primary);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--background-light);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px var(--shadow-color);
  margin-bottom: 20px;
}

input,
select,
button {
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: var(--green-primary);
  color: var(--background-light);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--green-hover);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: var(--background-light);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 5px var(--shadow-color);
}

li button {
  background-color: var(--orange-primary);
  color: var(--background-light);
}

li button:hover {
  background-color: var(--orange-light);
}

.auth-container p {
  text-align: center;
}

.auth-container a {
  color: var(--blue-detail);
  text-decoration: none;
}

.auth-container a:hover {
  text-decoration: underline;
  color: var(--purple-light);
}
